@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&family=Varela+Round&display=swap');

.header {
    box-sizing: 'border-box';
    width: '100%';
    position: 'fixed';
}

.content-container {
    display: grid;
    grid-template-columns: 30% 70%;
}